:root {
  --blue-light: #4a90e2;
  --sint-light: #50e3c2;
  --gold-light: #f5a623;

  --blue-dark: #357abd;
  --sint-dark: #3ac2a0;
  --gold-dark: #d48806;

  --primary-color: var(--blue-light);
  --secondary-color: var(--sint-light);
  --tertiary-color: var(--gold-light);

  --bg: #ffffff;
  --text: #1c1c1c;
}

.light {
  --primary-color: var(--blue-light);
  --secondary-color: var(--sint-light);
  --tertiary-color: var(--gold-light);

  --bg: #ffffff;
  --text: #1c1c1c;
}

.dark {
  --primary-color: var(--blue-dark);
  --secondary-color: var(--sint-dark);
  --tertiary-color: var(--gold-dark);

  --bg: #1c1c1c;
  --text: #f0f0f0;
}

.img {
  --meme-size: 140px;
  width: 12%;
  height: var(--meme-size);
  display: block;
  object-fit: cover;
  text-align: center;
  background-color: #ffffff;
  margin: auto;
}
