:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;

  /* Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
  --tertiary: var(--gold-light);

  --bg: #ffffff;
  --text: #000000;
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}
.container {
  background-color: var(--secondary);
}
.img {
  --meme-size: 140px;
  width: 12%;
  height: var(--meme-size);
  display: block;
  object-fit: cover;
  text-align: center;
  background-color: transparent;
  position: relative;
  margin: auto;
}
