:root {
  --light-blue: #ffffff;
  --dark-blue: #ffffff;
  --light-red: #000000;
  --dark-red: #000000;

  /* Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
  --tertiary: var(--gold-light);

  --bg: #ffffff;
  --text: #000000;
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  box-sizing: border-box;
  padding: 24px;
  display: block;
}
.container {
  background-color: var(--secondary);
}
.img {
  --meme-size: 140px;
  width: 12%;
  height: var(--meme-size);
  display: block;
  object-fit: cover;
  text-align: center;
  background-color: transparent;
  position: relative;
  margin: auto;
}

body {
  background-color: var(--primary);
  color: var(--text);
  min-height: 100vh;
  margin: 0;
}

.positioned-text {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}
